#logo{background-image:url(../img/adornos/logo.svg);}
#sociales{background-image:url(../img/adornos/sociales.svg);}

#adornoIcono{background-image:url(../img/adornos/adornoIcono.svg);}
#adornoTitulo{background-image:url(../img/adornos/adornoTitulo.svg);}
#adornoDr{background-image:url(../img/adornos/adornoDr.svg);}
#adornoIz{background-image:url(../img/adornos/adornoIz.svg);}
#info{background-image:url(../img/adornos/info.svg);}

#tituloImpresion{background-image:url(../img/titulo/tituloImpresion.svg);}
#tituloCarteleria{background-image:url(../img/titulo/tituloCarteleria.svg)}
#tituloHerreria{background-image:url(../img/titulo/tituloHerreria.svg);}
#tituloCorporeo{background-image:url(../img/titulo/tituloCorporeo.svg)}
#tituloPloter{background-image:url(../img/titulo/tituloPloter.svg);}

#btnImpresion{background-image:url(../img/boton/btnImpresion.svg);}
#btnCarteleria{background-image:url(../img/boton/btnCarteleria.svg);}
#btnHerreria{background-image:url(../img/boton/btnHerreria.svg);}
#btnCorporeo{background-image:url(../img/boton/btnCorporeo.svg);}
#btnPloter{background-image:url(../img/boton/btnPloter.svg);}

#iconoImpresion{background-image:url(../img/icon/iconoImpresion.svg);}
#iconoCarteleria{background-image:url(../img/icon/iconoCarteleria.svg);}
#iconoHerreria{background-image:url(../img/icon/iconoHerreria.svg);}
#iconoCorporeo{background-image:url(../img/icon/iconoCorporeo.svg);}
#iconoPloter{background-image:url(../img/icon/iconoPloter.svg);}