#galeriaVer{
	display: grid;
	width:100%;height:60vh;display: grid;
	overflow: hidden;
	background-color: #000000;
}
#mapa{
	width:100%;height:100vh;display: grid;
	grid-template-columns:repeat(6, 1fr);
	grid-template-rows:repeat(8, 1fr);
	background-color: #000000;	
}
#gooMap{
	grid-column:1/7;
	grid-row:1/7;	
	position: relative;	
	width: 90%;
	height: 120%;
	top: 5%;
	left: 50%;
	transform:translateX(-50%);
	border-radius:5px;
	box-shadow:4px 4px 1px rgba(0,0,0,0.5);
	z-index: 40;
}
#formulario{	
	display: grid;
	width: 90%;
	height: 20vh;
	transform: translateY(20px);
	margin:auto;
	border-radius:5px;
	background: rgb(255,102,0);
	box-shadow: -4px -4px 5px rgba(255,255,255,0.7),
				inset -4px -4px 5px rgba(0,0,0,0.5);
	z-index:39;
	font-size: medium;	
}
form{
	position: relative;
	padding: 15px;
}
form button{
	position: relative;
	left: 50%;
	transform: translateX(50%);	
}
footer{
	display: grid;
	width: 90%;
	height: 20vh;
	transform: translate(20px, 50px);
	margin:auto;
}
#pie{
	width: 80%;
	height: 80%;	
	background-image: url(../img/adornos/info.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}